form,
.control-panel,
.message-panel {
  padding: 30px 30px;
}

.message-panel {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  opacity: 0.95;
}

#viewport {
  position: absolute;
  top: 0;
  pointer-events: none;
}