<form class="form-inline" role="form">
  <div class="input-group">
    <div class="input-group-addon"><label for="playerName">Player Name</label></div>
    <input type="text" class="form-control" ng-model="playerName" name="playerName" required>
  </div>
  <button class="btn btn-primary" ng-click="ok(playerName)">Create User</button>
</form>
