<!DOCTYPE html>
<html ng-app="sti2">

<head>
  <title>sti2</title>
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <section class="message-panel" ng-controller="MessagesCtrl as messages">
    <alert ng-repeat="alert in messages.messages" type="{{alert.type}}">{{alert.msg}}</alert>
  </section>

  <section class="control-panel" ng-controller="GameCtrl as game">
    <h1>BlackRoll
      <small>BlackJack by dice</small>
    </h1>
    <div class="h4 text-primary">Records: {{game.player.records.win}} Wins, {{game.player.records.lose}} Lose, {{game.player.records.tie}} Tie</div>
    <br>

    <div ng-show="game.player">
      <button class="btn btn-lg btn-primary" ng-click="game.newGame()" ng-disabled="game.game.running">New Game</button>
      <button class="btn btn-lg btn-info" ng-click="game.hit()" ng-show="game.game" ng-disabled="game.game.result !== null || game.game.running">Hit</button>
      <button class="btn btn-lg btn-info" ng-click="game.stay()" ng-show="game.game" ng-disabled="game.game.result !== null || game.game.running">Stay</button>

    </div>
    <br>

    <h3 ng-show="game.game">Target: {{game.game.target}}
      <span ng-show="game.game.result !== null" ng-class="{'text-danger': game.game.result === 0, 'text-success': game.game.result === 1, 'text-info': game.game.result === -1}">{{game.game.result === -1 ? 'Tie game' : game.game.result === 1 ? 'User Win' : 'User Lose'}}</span>
      <small ng-class="{'text-warning': game.chanceOfBusting() < 0.5, 'text-danger': game.chanceOfBusting() >= 0.5}" ng-hide="game.game === null || game.game.result !== null">Your chance of Busting in the next hit: {{game.chanceOfBusting() | percentage:2}}</small>
    </h3>
    <br>

    <table class="table" ng-show="game.game">
      <thead>
        <tr>
          <th>#</th>
          <th>{{game.game.host.name}}</th>
          <th>{{game.game.player.name}}</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>Total</td>
          <td>{{game.game.hostTotal()}}</td>
          <td>{{game.game.playerTotal()}}</td>
        </tr>
      </tfoot>
      <tr ng-repeat="roll in game.game.rolls">
        <td>{{$index + 1}}</td>
        <td>{{roll[0] === null ? 'stay' : roll[0]}}</td>
        <td>{{roll[1] === null ? 'stay' : roll[1]}}</td>
      </tr>
    </table>

    <div id="viewport" style="position: absolute;" ng-hide="!game.game || game.game.result !== null || !game.game.running"></div>
  </section>

  <script type="text/javascript" src="vendor/angular/angular.js"></script>
  <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap.js"></script>
  <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="vendor/angular/angular.js"></script>
  <script type="text/javascript" src="vendor/physijs/examples/js/three.min.js"></script>
  <script type="text/javascript" src="vendor/physijs/physi.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/env.js"></script>
  <script type="text/javascript" src="js/game.js"></script>
  <script type="text/javascript" src="js/diceroller.js"></script>
</body>

</html>
